<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-facebook-square" style="color: #3b5998;"></i></a>
      <a href="#"><i class="fa-brands fa-instagram" style="color: #e4405f;"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin" style="color: #0077b5;"></i></a>
    </div>
    <div class="f-info-brand">&copy; Tripsy Pvt. Ltd.</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
